body {
    background-image: url(forest.jpeg);
    background-size:cover;
    cursor: url(gun.png), auto;
    
}


.main-grid {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    width: 50%;
    height: 50%;
    opacity: 0.8;
    /* margin: 100px auto; */
    
    /* padding:10% 24% 30% 24%; */
    
    
    /* cursor: grabbing; */


    /* flex-direction: column; 
    border: 1px solid black; 
    /* margin:0 200px; */
}
/* .first-line {
    border: 1px solid red;
    justify-content: center;
    display: flex;
    flex-direction: row;
   
    
}
.second-line {
    border: 1px solid red;
    justify-content: center;
    display: flex;
    flex-direction: row; *?
    /* margin:0 150px; */
    /* padding: 20px; */
/* } */
/* .third-line {
    border: 1px solid red;
    justify-content: center;
    display: flex;
    flex-direction: row; */
    /* margin:0 150px; */
    /* padding: 20px; */
/* } */
.ex {
    font-family: 'Gloria Hallelujah', cursive;
    color:green;
    /* font-size: 200px; */
    background-image: url(hat.png);
    background-size: 100%; 
    opacity: none;
    background-repeat:no-repeat;
    background-position: center;
    
  

    
    /* cursor: url(15.png), auto; */
    
    
}
.circle {
    font-family: 'Bonbon', cursive;
    color:black;
    /* font-size: 200px; */
    background-image: url(finger.png);
    /* display: block; */
    /* width: 100%; */
    opacity: none;
    background-repeat:no-repeat;
    background-position: center;
    background-size: contain;
    /* height: fit-content;
    width: auto; */
}
.row div {
    border: 1px solid black;
    width: 20%;
    height: 40px;
    padding: 10% 3%;
    font-size: 40px;
    background-color: lightgray;

    /* font-size: 50px; */
    
    /* justify-content: center;
    display: flex;
    flex-direction: column; */
}
/* #00 {
    border-top: none;
    border-left: none;
} */
.winner {
    text-decoration: line-through;
}
.image1 {
    /* width:  200px; */
    height: 400px;
    

}
.theme {
    text-align: center;
    color: darkred;
    font-family: 'Reenie Beanie', cursive;
    font-size: 50px;
}
.image2 {
    height: 400px;
  

}
.images-and-grid {
    justify-content: center;
    display: flex;
    flex-direction: row;
}
.refresh {
    height: 60px;
    width: 120px;
    background-color: darkblue;
    border-radius: 25px;
    color: red;
    font-size: 20px;
    opacity: 0.5;
    
}
.result {
    text-align: center;
    color: red;
    font-family: 'Reenie Beanie', cursive;
    font-size: 50px; 
    
}
/* @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  } */