


.main-grid {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    text-align: center;

    /* flex-direction: column; 
    border: 1px solid black; 
    /* margin:0 200px; */
}
/* .first-line {
    border: 1px solid red;
    justify-content: center;
    display: flex;
    flex-direction: row;
   
    
}
.second-line {
    border: 1px solid red;
    justify-content: center;
    display: flex;
    flex-direction: row; *?
    /* margin:0 150px; */
    /* padding: 20px; */
/* } */
/* .third-line {
    border: 1px solid red;
    justify-content: center;
    display: flex;
    flex-direction: row; */
    /* margin:0 150px; */
    /* padding: 20px; */
/* } */
.ex {
    font-family: 'Franklin Gothic Medium';
    color:green;
    
}
.circle {
    font-family: 'Franklin Gothic Medium';
    color:red;
}
.row div {
    border: 1px solid black;
    width: 25%;
    height: 100%;
    padding: 10% 3%;
    font-size: 200%;

    /* font-size: 50px; */
    
    /* justify-content: center;
    display: flex;
    flex-direction: column; */
}
/* .cell {
  flex: 0 0 32%;                      
  height: 50px;
  margin-bottom: 5px;
  background-color: #999;
} */
/* #00 #01 #02 {
    justify-content: center;
    display: flex;
    flex-direction: column;
} */