.main-grid {
    justify-content: center;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}
.first-line {
    border: 1px solid red;
    justify-content: center;
    display: flex;
    flex-direction: row;
    margin:0 150px;
    padding: 20px;
    
}
.second-line {
    border: 1px solid red;
    justify-content: center;
    display: flex;
    flex-direction: row;
    margin:0 150px;
    padding: 20px;
}
.third-line {
    border: 1px solid red;
    justify-content: center;
    display: flex;
    flex-direction: row;
    margin:0 150px;
    padding: 20px;
}
.zero-zero {
    border: 1px solid black;
    padding:20px;
}
.zero-one {
    border: 1px solid black;
    padding:20px;
}
.zero-two {
    border: 1px solid black;
    padding:20px;
}
.ex {
    font-family: 'Franklin Gothic Medium';
    color:green;

}
.circle {
    font-family: 'Franklin Gothic Medium';
    color:red;
}
.one-zero{
    border: 1px solid black;
    padding:20px;
}
.one-one{
    border: 1px solid black;
    padding:20px;
}
.one-two{
    border: 1px solid black;
    padding:20px;
}
.two-zero {
    border: 1px solid black;
    padding:20px;
}
.two-one {
    border: 1px solid black;
    padding:20px;
}
.two-two {
    border: 1px solid black;
    padding:20px;
}